<ul class="menu">
	<li class=" {{menu.active}} " ng-repeat="menu in nav">
		<a href="{{menu.href}}"> {{menu.label}} </a>
	</li>
</ul>
<!-- <div menu> </div> -->


<p>This is the partial for view 1.</p>

<label>Username</label>
<input type="text" ng-model="username" ng-change="checkUsername()"> <span>{{usernameCheck}}</span>
<br>
<label>Email</label>
<input type="text" ng-change="checkEmail()" ng-model="email"> <span>{{emailCheck}}</span>
<br>
<label>Password</label>
<input type="password" ng-model="password">
<br>
<label>Repassword</label>
<input type="password" ng-model="repassword">
<br>
<input type="submit" ng-click="signup()">
